body{
    background-color: rgb(20, 41, 41);
}

h1,
h2,
h3,
h4{
    text-align: center;
    color: lightgray;
}

.pic{
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
}
.homevert{
        display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
}
.navButtons{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.caption{
    color: lightgray;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.learn-more{
    text-align: left;
}
.secretbutton{
    background-color: red;
    display:block;
    margin-left: 600px;
    margin-right:600px;
    margin-bottom: 10px;
}
.ericpic{
    margin-top: 20px;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
}
