body{
    background: linear-gradient(to bottom right, rgba(25, 25, 112, 0.5), rgba(211, 211, 211, 0.5)), url("pictures/pexels-eberhard-grossgasteiger-572897.jpg");
    size: cover;
    background-size: cover;
    margin: 0;
    height: 100%;
}
.background-filter{
    background-image: linear-gradient(to bottom right, midnightblue, lightgray);
    size: cover;
    opacity: 100%;
    height:100%;
    width:100%; 
    margin: 0;
    position: relative;

}
nav{
    background-image: linear-gradient(to bottom right, midnightblue, gray);
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    margin:0px;
    border-radius: 5px;

}
header{
    margin-top:150px;

}
h1{
    font-size: 80px;
    font-weight: bold;
}

h1,
h2,
h3,
h4{
    text-align: center;
    color: lightgray;
}
p{
    background-color: rgb(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}

.caption{
    color: lightgray;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.pic{
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    box-shadow: 10px 0px 10px 0px rgba(0, 0, 50, 0.97);
}
.ericpic{
    margin-top: 20px;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    box-shadow: 10px 0px 10px 0px rgba(0, 0, 50, 0.97);
}
.home-button a{
    position: fixed;
    color: black;
    text-align: center;
    font-size:30px;
    background-color: grey;
    height: 25px;
    width: 150px;
    padding: 5px 10px 15px;
    margin: 10px 10px;
    border-radius: 10px;
   border: 5px double black;
}
.home-button a:hover {
    color: lightgray;
    background-color: rgb(20, 41, 41);
   border: solid lightgray;
}
.homevert{
        display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    box-shadow: 10px 0px 10px 0px rgba(0, 0, 50, 0.97);
}
.learn-more{
    text-align: left;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    max-width: 300px;
    position: relative;
    margin: 20px;
    bottom: 400px;
    color: lightgray;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}
.navbar-buttons a{
    position:relative;
    left: 220px;
    color: black;
    text-align: center;
    background-color: grey;
    height: 18px;
    width: 150px;
    padding: 10px;
    margin: 15px 10px;
    border-radius: 10px;
   border: solid black;
   display: inline-block;

}
.navbar-buttons a:hover{
    position:relative;
    color: lightgray;
    background-color: rgb(20, 41, 41);
   border: solid lightgray;
   
}
.navButtons{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.scroll-down{
    font-size: 40px;
}
.secretbutton{
    background-color: red;
    display:block;
    margin-left: 600px;
    margin-right:600px;
    margin-bottom: 10px;
}
